*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#imageprincipale {
    padding-top: 10rem;
    background-image: url(assets/Illustration/img1.png);
    background-size: cover;
    height: 750px;
  
   }

   @font-face {
    font-family:Homecoming;
    src: url(./Assets/Far-From\ Homecoming\ Updated.otf);
}

H1 {
    font-family: Homecoming;
    color: #ffff;
    font-size: 5rem;
    padding-left: 5rem;
    margin-top: 6rem;
}

h3, h4{
    font-family: Homecoming;  
}